In [1]:
# Find unique element
# Duplicate in array
# Pair Sum in Array
# Triplet sum
# Rotate Array
#

In [44]:
#Rotate an Array
l=[1,2,3,4]

def rotateByOne(arr,n):
    t=arr[-1]
    for i in range(n-1,0,-1):
        arr[i]=arr[i-1]
    arr[0]=t

def rotateArray(arr,l,n):
    if n%l==0:
        return 
    for i in range(n):
        rotateByOne(arr,l)

rotateArray(l,4,4)
l

[1, 2, 3, 4]

In [45]:
arr = [1,3,6,11,12,17]
n=6
d=4

def rotate(arr,n,d):
    r = d%n
    arr = arr[r:]+arr[:r]
rotate(arr,n,d)
arr

[1, 3, 6, 11, 12, 17]

In [12]:
#Duplicate in array
arr=[44,65,87,44,76,65,44,76,87,56,85,87,62,87]
d={}
for i in arr:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]+=1
for i in d.keys():
    if d[i]>1:
        print(i,end=' ')
d

44 65 87 76

{44: 3, 65: 2, 87: 4, 76: 2, 56: 1, 85: 1, 62: 1}

In [14]:
#Find Unique
arr=[44,65,87,44,76,65,44,76,87,85,87,87]
d={}
for i in arr:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]+=1
for i in d.keys():
    if d[i]==1:
        print(i,end=' ')
d

85

{44: 3, 65: 2, 87: 4, 76: 2, 85: 1}

In [15]:
#Pair Sum in Array
s=10
arr=[2,8,10,5,-2,5]

def pair_sum(arr,sum):
    d={}
    for i,e in enumerate(arr):
        if sum-e in d:
            print(e,sum-e)
        d[e]=i
        
pair_sum(arr,s)

8 2
5 5

In [33]:
#Triplet sum
arr=[1,2,3,4,5,6,7]
s=12
n=7

def triplet_sum(arr,n,sum):
    d={}
    l=[]
    for i,e in enumerate(arr):
        d[e]=i
    for i in range(n-1):
        for j in range(i+1,n):
            val = sum - (arr[i]+arr[j])
            if val in d and d[val]!=i and d[val]!=j and {arr[i],arr[j],val} not in l:
                l.append({arr[i],arr[j],val})
    return l
        
triplet_sum(arr,n,s)

[{1, 4, 7}, {1, 5, 6}, {2, 3, 7}, {2, 4, 6}, {3, 4, 5}]

In [26]:
{1,2}=={2,1}

True

In [25]:
(1,2)==(1,2)

True

In [32]:
l=[]
l.append({1,2})
if {2,1} not in l:
    l.append({2,1})
l

[{1, 2}]

In [36]:
arr=[1,2,3,4,5,6,7,8,9,0]
arr[2:]+arr[:2]

[3, 4, 5, 6, 7, 8, 9, 0, 1, 2]

In [63]:
#Array Intersection
arr1=[2,5,1,8,4]
n = 5
arr2=[5,3,1]
m = 3
arr1.sort()
arr2.sort()
def intersect(arr1,n,arr2,m):
    s=''
    i = 0
    j = 0
    min = n if n<m else m
    while(i<min and j<min):
        if arr1[i]<arr2[j]:
            i+=1
        elif arr1[i]>arr2[j]:
            j+=1
        else:
            s+=str(arr1[i])+' '
            i+=1
            j+=1
    while i<n:
        s+=str(arr1[i])+' '
        i+=1
    while j<m:
        s+=str(arr2[j])+' '
        j+=1 
    return s
intersect(arr1,n,arr2,m)

'1 5 8 5 '

In [52]:
n=2
m = 3
max = n if n>m else m
max

3

In [72]:
#Find Equlibrium Index
arr=[1,-1,4]
n=3

def equi(arr,n):
    ls=0
    rs=sum(arr)
    s=''
    for i in range(n):
        rs-=arr[i]
        if ls == rs:
            s+=str(i)+' '
        ls+=arr[i]
    print(ls,rs)
    if s=='':
        return -1
    return s
equi(arr,n)

4 0

'2 '